In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [26]:
data = pd.read_csv('vgsales_info.csv', index_col = 0)
data.head()

C:\Users\PcCom\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (8,9,10,11,12,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Title,Platform,Publisher,Developer,VGC_Score,Critic_Score,User_Score,Total_Shipped,Total_Sales,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Release,Last_Update
0,Starlink: Battle for Atlas,NS,Ubisoft,Ubisoft Toronto,NaN,7.5,6.0,NaN,0.57m,0.35m,0.17m,NaN,0.05m,16th Oct 18,22nd Mar 19
1,Super Bomberman,SNES,Hudson Soft,Produce!,NaN,NaN,NaN,NaN,0.57m,NaN,NaN,0.57m,0.00m,01st Jan 93,NaN
2,Top Spin 3,PS3,2K Sports,Pam Development,NaN,7.8,NaN,NaN,0.57m,0.08m,0.37m,0.00m,0.12m,23rd Jun 08,NaN
3,SpongeBob SquarePants: Battle for Bikini Bottom,XB,THQ,Heavy Iron Studios,NaN,6.7,NaN,NaN,0.57m,0.45m,0.10m,NaN,0.02m,31st Oct 03,NaN
4,Up,Wii,THQ,THQ,NaN,NaN,NaN,NaN,0.57m,0.22m,0.29m,NaN,0.06m,26th May 09,NaN

Let's add format to the sales figures and the dates.

We can see that the `XXXX_Sales` column uses `m` as the million unit. So we select the Sales columns, strip the `m` and proceed to convert it to a numerical value

In [27]:
sales_col = ['Total_Shipped','Total_Sales','NA_Sales','EU_Sales','JP_Sales','Other_Sales']

for col in sales_col:
    data[col] = data[col].str.strip('m')
    data[col] = data[col].astype('float') * 1000000

In [28]:
data.sample(5)

,Title,Platform,Publisher,Developer,VGC_Score,Critic_Score,User_Score,Total_Shipped,Total_Sales,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Release,Last_Update
4858,Santa Claus is Coming to Town,DS,Unknown,Crave,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3280,Age of Empires II: The Conquerors,PC,Microsoft,Ensemble Studios,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24th Aug 00,NaN
3772,Teenage Mutant Ninja Turtles IV: Turtles in Time,SNES,Konami,Konami,8.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01st Jan 92,NaN
2578,Power Instinct,SNES,Atlus,Atlus Co.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01st Dec 94,NaN
1132,Entomorph: Plague of the Darkfall,PC,SSI,SSI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01st Sep 95,NaN

---
Now we proceed to clean the `Release` and `Last_Update` columns.

We can observe the following:

- There are NaNs
- Days are in the ~st ~nd ~rd ~th format
- Months are in 3 letter format
- Years have the last 2 digits format

In [5]:
years = []

for col in ['Release','Last_Update']:
       
        for row in data[col].str.split(' '):
            
            if type(row) != float and (not row[2] in years):
                
                years.append(row[2])
                

pd.Series(years).sort_values(ignore_index = True, ascending = False)

0     99
1     98
2     97
3     96
4     95
5     94
6     93
7     92
8     91
9     90
10    89
11    88
12    87
13    86
14    85
15    84
16    83
17    82
18    81
19    80
20    79
21    78
22    77
23    75
24    73
25    70
26    21
27    20
28    19
29    18
30    17
31    16
32    15
33    14
34    13
35    12
36    11
37    10
38    09
39    08
40    07
41    06
42    05
43    04
44    03
45    02
46    01
47    00
dtype: object

We can see that:
- The years belonging to the 21th century range between 2000 and 2021
- The years belonging to the 20th century range between 1970 and 1999

Now we are going to split the string into the different elements to transform them into a more intelligible format and merge them later.

In [6]:
months = {'Jan':'01', 'Feb':'02', 'Mar':'03', 'Apr':'04', 'May':'05', 'Jun':'06',
          'Jul':'07', 'Aug':'08', 'Sep':'09', 'Oct':'10', 'Nov':'11', 'Dec':'12'}

In [7]:
for col in ['Release','Last_Update']:

        data[col] = data[col].str.split(' ')
        
        for row in data[col]:
            
            if type(row) != float:
                
                row[0] = row[0].strip('stndrh') # Days
                
                row[1] = months[row[1]]         # Months
                
                if int(row[2]) < 22:            # Years
                    
                    row[2] = '20' + row[2]      # 21th century
                    
                else:
                    
                    row[2] = '19' + row[2]      # 20th century
        
        
        data[col] = data[col].str.join('-')   # Merge the str array into a single string in the dd-mm-YYYY format

In [8]:
data.sample(10)

,Title,Platform,Publisher,Developer,VGC_Score,Critic_Score,User_Score,Total_Shipped,Total_Sales,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Release,Last_Update
2905,Naruto Shippuden: Ultimate Ninja 4,PS2,Namco Bandai,CyberConnect2,NaN,NaN,NaN,0.29m,NaN,NaN,NaN,NaN,NaN,24-03-2009,NaN
742,Beat Down: Fists of Vengeance,PS2,Capcom,Cavia Inc.,NaN,NaN,NaN,NaN,170000.0,40000.0,30000.0,90000.0,10000.0,23-08-2005,NaN
4919,Hoshizora e Kakaru Hashi,PC,Feng,Feng,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15-10-2010,NaN
1566,"Fairy Tale About Father Frost, Ivan and Nastya",PC,1C Company,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20-12-2000,NaN
1197,Esper Boukentai,NES,Jaleco,Jaleco Entertainment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13-10-1987,NaN
3667,Tarepanda no GunPey,WS,Bandai,Bandai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09-12-1999,NaN
172,Super Bubble Pop,XB,Jaleco,Runecraft,NaN,NaN,NaN,NaN,10000.0,10000.0,0.0,NaN,0.0,25-12-2002,NaN
3461,T.E.C. 3001,OSX,Bulkypix,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10-04-2014,NaN
4779,Salon Superstar,DS,505 Games,505 Games,NaN,NaN,NaN,NaN,80000.0,70000.0,NaN,NaN,0.0,08-12-2009,NaN
4394,Black Book,PC,HypeTrain Digital,Morteshka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01-12-2020,16-01-2020

---
Now that there's nothing left to clean (in the formatting sense), let's check for NaN values to see what to do with them (as we have already seen many).

In [9]:
data.isna().sum()

Title                0
Platform             0
Publisher            0
Developer           17
VGC_Score        53617
Critic_Score     49821
User_Score       54172
Total_Shipped    52981
Total_Sales      38336
NA_Sales         44521
EU_Sales         44299
JP_Sales         48895
Other_Sales      42066
Release           3535
Last_Update      43078
dtype: int64

There are so many NaNs in the dataframe we have to decide what to do with them!

We are interested in the sales, so taking non-NaN `Total_Sales` values seems logical (other Sales columns have more NaNs, so it won't affect as much).

As we are going to merge this dataset with other datasets, we could even drop some columns we won't use!:

- We won't need these many NaN score columns (`VGC_Score`, `Critic_Score`, `User_Score`) as we will try to scrape data from Metacritic.
- We won't need the `Total_Shipped` column either as we are interested in sales, not in shipping

In [10]:
data_filtered = data[data['Total_Sales'].notna()].drop(['VGC_Score','Critic_Score','User_Score'], axis = 1)
data_filtered.sample(10)

,Title,Platform,Publisher,Developer,Total_Shipped,Total_Sales,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Release,Last_Update
1943,Saki Portable,PSP,Alchemist,Alchemist,NaN,40000.0,NaN,NaN,40000.0,NaN,25-03-2010,NaN
1552,Battle Chasers: Nightwar,NS,THQ Nordic,Airship Syndicate,NaN,50000.0,30000.0,10000.0,NaN,0.0,15-05-2018,22-09-2018
4160,Clockwork Knight,SAT,Sega,Sega-AM7,NaN,90000.0,NaN,NaN,90000.0,0.0,11-05-1995,NaN
979,Maze Craze: A Game of Cops 'n Robbers,2600,Atari,Atari,NaN,450000.0,420000.0,20000.0,NaN,0.0,01-01-1978,NaN
4708,Colin McRae Rally 2005,PC,Codemasters,Codemasters,NaN,20000.0,NaN,10000.0,NaN,0.0,28-10-2004,NaN
1324,Farm Frenzy: Animal Country,DS,City Interactive,City Interactive,NaN,150000.0,130000.0,10000.0,NaN,10000.0,28-09-2010,NaN
2835,Nintendo Pocket Football Club,3DS,Nintendo,ParityBit,NaN,120000.0,NaN,NaN,120000.0,NaN,12-07-2012,30-08-2018
3697,Wrestle Kingdom 2: Pro Wrestling Sekai Taisen,PS2,Yuke's,Yuke's Future Media Creators,NaN,20000.0,NaN,NaN,20000.0,NaN,10-05-2007,NaN
510,Horsez,GBA,Ubisoft,MTO,NaN,10000.0,10000.0,0.0,NaN,0.0,02-07-2007,NaN
1126,Medieval Games,Wii,Vir2L Studios,N-Fusion Interactive,NaN,160000.0,140000.0,10000.0,NaN,10000.0,20-10-2009,NaN

In [11]:
data_filtered.to_csv("vgsales_clean.csv", sep=",", encoding='utf-8')

In [29]:
data2 = data['Total_Sales'].fillna(data['Total_Shipped']).dropna()
data2.head()

0    570000.0
1    570000.0
2    570000.0
3    570000.0
4    570000.0
Name: Total_Sales, dtype: float64

In [30]:
max(data2)

570000.0

In [31]:
min(data2)

0.0

In [33]:
np.median(data2)

100000.0

In [35]:
data2.describe()

count     17479.000000
mean     144538.017049
std      143279.843061
min           0.000000
25%       30000.000000
50%      100000.000000
75%      220000.000000
max      570000.000000
Name: Total_Sales, dtype: float64